<!-- Generic Dropdown Component -->
<div class="relative" x-data="{ open: false }">
    <div @click="open = !open" @click.away="open = false">
        {{slot:trigger}}
    </div>
    
    <div x-show="open" 
         x-transition:enter="transition ease-out duration-200"
         x-transition:enter-start="opacity-0 scale-95"
         x-transition:enter-end="opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-75"
         x-transition:leave-start="opacity-100 scale-100"
         x-transition:leave-end="opacity-0 scale-95"
         class="absolute top-full left-0 mt-2 bg-white rounded-lg shadow-lg border border-gray-200 py-2 z-50">
        {{slot:content}}
    </div>
</div>
